@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Kumbh Sans', sans-serif;}

.app {
    width: 100%;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .card {
    width: 400px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    z-index: 2;
}

.app .card .card_section {
    display: flex;
    justify-content: space-around;
}

.app .card .card_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.app .card .card_header_name {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: .5px solid  hsl(0, 6%, 87%);
    padding-bottom: 20px;
}

#app_bg_top {
    position: absolute;
    bottom: 500px;
    left: 15px;
}

#card_header_bg {
    width: 100%;
}

.app .card .card_header_name img {
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -60px;
    padding-bottom: 10px;
}

.app .card .card_header_name label, .app .card .card_header_name p {
    flex-basis: 100%;
    padding: 2px;
}

.app .card .card_header_name label span {
    font-size: 18px;
}

.app .card .card_header_name p {
    font-size: 14px;
}

.app .card .card_section div p {
    font-size: 12px;
}

.app .card .card_section div {
    flex-basis: 20%;
    text-align: center;
    padding: 30px 20px;
}

.app .card .card_section div h2, .app .card .card_header_name label {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.app .card .card_section div p, .app .card .card_header_name label span, .app .card .card_header_name p {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}